{% extends 'layout.html' %}

{% block content %}
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut volutpat urna. Morbi non congue neque. Mauris pharetra ligula lacus, eu facilisis arcu malesuada ac. Praesent bibendum ante ac lacus sagittis laoreet. Donec tincidunt pretium augue, in sodales metus porttitor sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla rutrum nisl purus, eu dignissim lacus cursus vel. Pellentesque in nibh dapibus, posuere ex pulvinar, blandit eros. Donec ultricies nisi enim, vel gravida magna pellentesque ac. Maecenas a vehicula metus.</p>
{% endblock %}