{% extends 'layout.html' %}

{% block content %}
    <h1>Contact</h1>
    <p>Proin in mauris eget orci congue elementum vitae quis risus. Proin at nibh enim. Aenean ex lorem, vehicula nec fermentum posuere, fermentum vel urna. Suspendisse vulputate cursus dictum. Vestibulum pharetra volutpat tellus, quis auctor magna. Morbi lacus ex, semper et mattis quis, imperdiet id metus. Praesent sed justo odio. Nulla eget dui orci. Curabitur imperdiet nibh a mi fermentum pellentesque. Nunc erat elit, ultrices non orci at, pellentesque vestibulum mauris. Donec malesuada felis a lacus tincidunt, non pharetra eros pretium. Nullam enim turpis, vulputate sed sagittis ut, sollicitudin at metus. Nulla imperdiet, sem a ultrices cursus, leo dui vulputate justo, nec suscipit mauris orci vitae dolor. Proin efficitur urna at lorem scelerisque pulvinar. Cras gravida nisl id leo efficitur consequat. Proin blandit vulputate magna, a viverra ex sagittis sit amet.</p>
{% endblock %}